doctype html 
html(lang='en')
    head 
        title My Pug App 
    body
        h1 Welcome to My Pug App
        p Click below to go the search page:
        a(href="/search") Go to Search Page
        br
        p Click below to register:
        a(href="/register") Go to Register Page